{{>partials/headerAdmin}}
{{>partials/fbsdk}}
{{>partials/cover}}
{{>partials/navigation}}

<ul>
<li><a href="/admin/index/">New Booking</a></li>
<li><a href="/admin/index/">New Booking</a></li>
<li><a href="/admin/index/">New Booking</a></li>
<li><a href="/admin/index/">New Booking</a></li>
<li><a href="/admin/index/">New Booking</a></li>

{{>partials/footer}}

