<header>
    <div class="w3-display-container">
        <img class="w3-round" src="/images/cover1.jpg" alt="Caravan" width="100%">
        <div class="w3-display-topright w3-container w3-hide-small">
            Paul and Claires' Caravan
        </div>
    </div>
</header>
