<footer class="w3-border w3-round-xlarge">
    <ul class="w3-navbar w3-white w3-xlarge w3-center">
        <li class="fb-like w3-padding" data-href="https://www.facebook.com/paulandclairesholidayhome/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        <li><a href="tel:07787684268" class="w3-hover-black">Call or SMS</a></li>
        <li class="w3-hide-small" style="padding-top:6px;">|</li>
        <li><a href="https://www.facebook.com/paulandclairesholidayhome/" target="_blank" class="w3-hover-black">IM</a></li>
    </ul>
</footer>
</main>
</body>
</html>
