<footer class="w3-border w3-round-xlarge w3-hide-large">
    <ul class="w3-navbar w3-white w3-xlarge w3-center">
        <li class="fb-like w3-padding" data-href="https://www.facebook.com/paulandclairesholidayhome/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </ul>
</footer>
</main>
</body>
</html>
