{{>partials/header}}
{{>partials/fbsdk}}
{{>partials/cover}}
{{>partials/navigation}}
<div class="w3-row">
    <div id="leftBody" class="w3-col l9 m12 w3-padding">
        <div class="w3-border w3-round-xlarge w3-padding">
        <header>Contact Paul and Claire</header>
        <article>
            <h6>Please select a desired method of contact, if not available we will endevour to get back to you as soon as possible.</h6>
            <ul>
                <li>Email - Please <a href="mailto:holmes771@btinternet.com?Subject=Caravan%20Booking%20-%20Littlesea">Click Here</a></li>
                <li>Phone - Please <a href="tel:07787684268">Click Here - 07787 684268</a></li>
                <li>Personal Message - Please <a href="http://www.facebook.com/paulandclairesholidayhome/" target="_blank">Click Here</a></li>
                <li>Check Availability - Please <a href="/availability">Click Here</a></li>
            </ul>
        </article>
        </div>
    </div>
    {{>partials/facebookStream}}
</div>
{{>partials/footer}}

