{{>partials/header}}
{{>partials/fbsdk}}
{{>partials/cover}}
{{>partials/navigation}}
<div class="w3-row">
    <section class="w3-col l9 m12 w3-padding">
        <div class="w3-border w3-round-xlarge w3-padding">
        	<div class="clear"></div>
			<div id="photos">
            {{#imageArray}}
            	<img src="{{image}}" alt=""/>
        	{{/imageArray}}
        	</div>
		</div>
    </section>
    {{>partials/facebookStream}}
</div>
{{>partials/footer}}
