{{>partials/header}}
{{>partials/fbsdk}}
{{>partials/cover}}
{{>partials/navigation}}
<div class="w3-row">
    <div id="leftBody" class="w3-col l9 m12 w3-padding">
        <div class="w3-border w3-round-xlarge w3-padding">
            <header>Quality family accommodation located on a 5* site in one of the most beautiful parts of the country</header>
            <div class="w3-row-padding">
                <div>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#127968;</h2>
                        <h4>Deluxe Accommodation</h4>
                        <p>Deluxe accommodation with 3 bedrooms, open plan living, central heating and family bathroom plus additional separate WC. Perfect for couples or families.</p>
                    </article>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#127942;</h2>
                        <h4>5* Holiday Village</h4>
                        <p>If you’re looking for lots of things to keep the whole family entertained – plus it’s a great location in a beautiful part of the UK set on the stunning South Coast.</p>
                    </article>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#128106;</h2>
                        <h4>Home from Home</h4>
                        <p>In a quiet location on the park, providing a delightful holiday accommodation for up to 8 people, parking area for up to 3 cars and all the modern conveniences you will need for your stay.</p>
                    </article>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#128421;</h2>
                        <h4>The Cure for Boredom</h4>
                        <p>Fancy a quiet day, then enjoy the 42" TV/DVD player. A little more frantic, then checkout the site entertainment or visit one of the many local attractions situated in or around Weymouth.</p>
                    </article>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#128071;</h2>
                        <h4>Fantastic Location</h4>
                        <p>Looking for a traditional family holiday by the sea?  Then pack up your bucket and spade and head to Weymouth Beach with it's beautiful golden sands.</p>
                    </article>
                    <article class="w3-container w3-center w3-col l4 m6 home">
                        <h2>&#163;</h2>
                        <h4>Best Rates</h4>
                        <p>Family accommodation at competitive rates all year round, like and follow our facebook page to get latest news and any late booking offers in 2018.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    {{>partials/facebookStream}}
</div>
{{>partials/footer}}
